.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background-color: #f8f9fa;
    position: relative;
    border-radius: 10px;
    width: 1000px;
    height: 80rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
